[submodule "bibfile"]
	path = bibfile
	url = git@github.com:ivotron/bibfile.git
[submodule "bibtools"]
	path = bibtools
	url = git@github.com:ivotron/bibtools.git
[submodule "latex-files"]
	path = latex-files
	url = git@github.com:ivotron/latex-files.git
[submodule "pandoc-templates"]
	path = pandoc-templates
	url = git@github.com:ivotron/pandoc-templates.git
[submodule "docker-pandoc"]
	path = docker-pandoc
	url = git@github.com:ivotron/docker-pandoc.git
[submodule "ceph_osdi06"]
	path = ceph_osdi06
	url = git@github.com:ivotron/ceph_osdi06.git
